<h1>LOGIN TO TOUR ACCOUNT</h1>
<%= form_tag sessions_path do %>
<%= label_tag :email%>
<%= text_field_tag :email%> <br><br>

<%= label_tag :password%>
<%= password_field_tag :password%> <br><br>

<%= button_tag "Login"%>

<% end %>