<h1 class="title">Create Your Account Here......</h1>
<div>
<%= form_for(@user) do |f| %>

<%= f.label :name%>
<%= f.text_field :name%>
<br><br>

<%= f.label :place%>
<%= f.text_field :place%>
<br><br>

<%= f.label :age%>
<%= f.text_field :age%>
<br><br>

<%= f.label :email%>
<%= f.text_field :email%>
<br><br>

<%= f.label :password%>
<%= f.password_field :password%>
<br><br>

<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation%>
<br><br>
<%= f.submit %>
<% 5.times do |d|
puts d

end%>
<% end %>
<h1>EXISTING USER??????</h1>
